@model ServiceViewModel

@{
    ViewData["Title"] = "Service";
    Layout = "_Layoutadmin";

}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<partial name="_Natification" /> 



<div class="wrapper">


    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ResourceWeb.lbManagService</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">@ResourceWeb.lbHomePage</a></li>
                        <li class="breadcrumb-item active">@ResourceWeb.lbManagService</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- service Table -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" onclick="Rest()" data-bs-target="#serviceModal">@ResourceWeb.lbAddPage</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="servicesTable">
                            <thead>
                                <tr>
                                    <th>@ResourceWeb.htName</th>
                                    <th>@ResourceWeb.NameAr</th>
                                    <th>@ResourceWeb.lbDescriptionService</th>
                                    <th>@ResourceWeb.htDate</th>
                                    <th>@ResourceWeb.htStatue</th>
                                    <th>@ResourceWeb.htAction</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.services.Any())
                                {
                                    foreach (var service in Model.services)
                                    {
                                                        <tr>
                                                            <td>@service.Name</td>
                                                            <td>@service.NameAr</td>
                                                            <td>@service.Description</td>
                                                            <td>@service.CreatedAt</td>
                                                       <td><input type="checkbox" disabled checked="@service.IsActive"></td>


                                                    <td>

                                                        <button class="btn btn-sm btn-info"
                                                data-bs-toggle="modal"
                                                data-bs-target="#serviceModal"
onclick="Editservice('@service.ServiceID','@service.Name','@service.NameAr','@service.Description','@service.CreatedAt','@service.IsActive')"                                                    >
                                                    @ResourceWeb.lbbtnEdit
                                                                </button>
                                                                <form method="post" asp-action="DeleteService" asp-controller="Service" style="display:inline;">
                                                                    <input type="hidden" name="id" value="@service.ServiceID" />
                                                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                    }
                                }
                                else
                                {
                                            <tr>
                                                <td colspan="7" class="text-center">لايوجد</td>
                                            </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal for Add/Edit service -->
    <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog card card-success card-outline">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceModalLabel">@ResourceWeb.lbAddService</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a>
                </div>
                <div class="modal-body">
                   <form method="post" asp-action="Service" asp-controller="Service">
                        @Html.AntiForgeryToken()

    <input type="hidden" asp-for="NewService.ServiceID" id="ServiceId" />
    <input type="hidden" asp-for="NewService.IsActive" value="false" />
            <div class="mb-3">
                            <label asp-for="NewService.Name" class="form-label">@ResourceWeb.htName</label>
                            <input asp-for="NewService.Name" type="text" class="form-control" id="Name"  />

                        </div> <div class="mb-3">
                            <label asp-for="NewService.NameAr" class="form-label">@ResourceWeb.NameAr</label>
                            <input asp-for="NewService.NameAr" type="text" class="form-control" id="Namear" />

                        </div>
                        <div class="mb-3">
                            <label asp-for="NewService.Description" class="form-label">@ResourceWeb.lbDescriptionService</label>
                            <input asp-for="NewService.Description" type="text" class="form-control" id="Description"  />

                        </div>


                        <div class="mb-3">
                            <label asp-for="NewService.CreatedAt" class="form-label">@ResourceWeb.htDate</label>
                            <input asp-for="NewService.CreatedAt" type="date" class="form-control" id="Createdat"  />

                        </div>

                         <div class="form-group">
                            <label asp-for="NewService.IsActive" class="control-lable">@ResourceWeb.lbActiveUser</label>
                            <input type="checkbox" class="form-control" asp-for="NewService.IsActive" id="Serviceactive" />
                        </div>

                        <button type="submit" class="btn btn-primary">@ResourceWeb.lbbtnSave</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@ResourceWeb.lbcancelButtonText</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
<script>
    let lbTitleEdit = '@Html.Raw(ResourceWeb.lbAddService)';
    let lbTitleAdd = '@Html.Raw(ResourceWeb.lbUpdateService)';
    </script>
    <script>
                Editservice = (id, name,arname, description, date, active) => {
            document.getElementById("ServiceId").value = id;
            document.getElementById("Name").value = name;
            document.getElementById("Namear").value = arname;
            document.getElementById("Description").value = description;
            // Inside Editservice function
                document.getElementById("Createdat").value=date ;
            
             var Active = document.getElementById("Serviceactive");

            if (active == "True")
                Active.checked = true;
            else
                Active.checked = false;
            document.getElementById("serviceModalLabel").innerHTML = lbTitleEdit;
        };

        function Rest() {
            document.getElementById("ServiceId").value = "";
            document.getElementById("Name").value = "";
            document.getElementById("Namear").value = "";
            document.getElementById("Description").value = "";
            document.getElementById("Createdat").value = "";
            document.getElementById("Serviceactive").checked = false;
            document.getElementById("serviceModalLabel").innerHTML = lbTitleAdd;
        }
        $(document).ready(function () {
                $('#servicesTable').DataTable({
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "emptyTable": "لايوجد موظفين متاحين"
                }
            });
        });
</script>
}